* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: Manrope;
    src: url("/assets/fonts/Manrope.ttf");
}

@font-face {
    font-family: Dash Horizon;
    src: url("/assets/fonts/Dash\ Horizon.otf");
}

@font-face {
    font-family: Roboto;
    src: url("/assets/fonts/Roboto.ttf");
}

/* Loading Start */

#Loading .Preloader {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("/assets/images/Loading\ Screen.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Manrope;
    z-index: 2;
}

#Loading .Preloader::before {
    content: "LOADING...";
    position: absolute;
    font-size: 9em;
    left: 58%;
    color: #9ABDDD;
}

#Loading .Preloader.Active {
    transform: translateY(-100vh);
    transition: ease-in-out 2s;
    transition-delay: 1s;
}

#Loading .Preloader .Counter {
    position: relative;
    color: #ECE1A3;
    font-size: 7em;
    right: 16%;
    top: 13%;
}

#Loading .Preloader .Counter::after {
    content: "%";
    font-size: 0.7em;
}

#Loading .Preloader .Counter.HideC {
    opacity: 0;
    transition-duration: 1s;
    pointer-events: none;
}

#Loading .Preloader .LoadingLogo.HideL {
    opacity: 0;
    transition-duration: 1s;
}

#Loading .Preloader .LoadingLogo {
    position: relative;
    right: 40px;
    top: 400px;
    animation-name: loading;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes loading {
    0%
    {
        transform: rotate(0);
    }

    100%
    {
        transform: rotate(360deg);
    }
}

/* Loading End */



/* NavBar Start */

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

nav {
    height: 90px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

nav .Logo {
    padding-top: 10px;
    padding-left: 15px;
    min-width: 110px;
}

nav .Title {
    position: relative;
    font-family: Dash Horizon;
    font-size: 35px;
    color: white;
    bottom: 15px;
    padding-right: 70%;
    cursor: default;
}

nav .Menu {
    padding-top: 20px;
    font-family: Dash Horizon;
    position: relative;
    right: 150px;
}

nav .Menu ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 450px;
}

nav .Menu ul li a {
    display: inline-block;
    text-decoration: none;
    transition-duration: 300ms;
    border: 3px solid #FFE900;
    border-radius: 5px;
    height: 50px;
}

nav .Menu ul li .Button1 {
    width: 100px;
    padding-left: 16px;;
}

nav .Menu ul li .Button2 {
    width: 160px;
    padding-left: 16px;
}

nav .Menu ul li .Button3 {
    width: 110px;
    padding-left: 17px;
}

nav .Menu ul li a h4 {
    color: white;
    font-size: 30px;
    position: relative;
    bottom: 12px;
    font-weight: 100;
}

nav .Menu ul li a:hover {
    background-color: #FFE900;
}

nav .Menu ul li a:hover h4 {
    color: black;
}

/* NavBar End */



/* Home Start */

#Home {
    height: 750px;
    background-image: url("/assets/images/Temple\ of\ Raiden.webp");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Dash Horizon;
    text-align: center;
}

#Home .Title {
    font-size: 80px;
    color: #FDAE0C;
    cursor: default;
    position: relative;
    bottom: 30px;
}

#Home .Posters {
    width: 1000px;
    height: 450px;
    margin: 40px auto;
    animation-name: slideshow;
    animation-duration: 120s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
    transition-duration: 500ms;
}

@keyframes slideshow {
    0%
    {
        background-image: url("/assets/images/Sub-Zero\ \(Poster\).jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    10%
    {
        background-image: url("/assets/images/Scorpion\ \(Poster\).jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    20%
    {
        background-image: url("/assets/images/Raiden\ \(Poster\).jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    30%
    {
        background-image: url("/assets/images/Liu\ Kang\ \(Poster\).jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    40%
    {
        background-image: url("/assets/images/Kung\ Lao\ \(Poster\).jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    50%
    {
        background-image: url("/assets/images/Noob\ Saibot\ \(Poster\).jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    60%
    {
        background-image: url("/assets/images/Johnny\ Cage\ \(Poster\).jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    70%
    {
        background-image: url("/assets/images/Sonya\ Blade\ \(Poster\).jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    80%
    {
        background-image: url("/assets/images/Kitana\ \(Poster\).jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    90%
    {
        background-image: url("/assets/images/Shao\ Kahn\ \(Poster\).jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    100%
    {
        background-image: url("/assets/images/Sub-Zero\ \(Poster\).jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/* Home End */



/* Characters Start */

#Characters {
    height: 1300px;
    background-image: url("/assets/images/Characters\ Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#Characters .Title {
    font-size: 70px;
    color: #FDAE0C;
    cursor: default;
    font-family: Dash Horizon;
    position: relative;
    bottom: 20px;
    text-align: center;
}

#Characters .Container {
    display: flex;
    flex-wrap: wrap;
    width: 1500px;
    justify-content: space-between;
    font-family: Roboto;
    margin: 70px auto;
}

#Characters .Container a {
    text-decoration: none;
}

#Characters .Container .Box1 {
    position: relative;
    width: 300px;
    height: 400px;
    overflow: hidden;
}

#Characters .Container .Box2 {
    position: relative;
    width: 300px;
    height: 400px;
    overflow: hidden;
}

#Characters .Container .Box3 {
    position: relative;
    width: 300px;
    height: 400px;
    overflow: hidden;
}

#Characters .Container .Box4 {
    position: relative;
    width: 300px;
    height: 400px;
    overflow: hidden;
}

#Characters .Container .Box1 .imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}

#Characters .Container .Box2 .imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}

#Characters .Container .Box3 .imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}

#Characters .Container .Box4 .imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}

#Characters .Container .Box1:hover .imgBox {
    transform: translateY(-100%);
}

#Characters .Container .Box2:hover .imgBox {
    transform: translateY(-100%);
}

#Characters .Container .Box3:hover .imgBox {
    transform: translateY(-100%);
}

#Characters .Container .Box4:hover .imgBox {
    transform: translateY(-100%);
}

#Characters .Container .Box1 .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#Characters .Container .Box2 .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#Characters .Container .Box3 .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#Characters .Container .Box4 .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#Characters .Container .Box1 .Layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}

#Characters .Container .Box2 .Layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}

#Characters .Container .Box3 .Layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}

#Characters .Container .Box4 .Layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}

#Characters .Container .Box1 .Layer1 {
    background-color: #9ABDDD;
    transform: translateY(100%);
}

#Characters .Container .Box2 .Layer1 {
    background-color: black;
    transform: translateY(100%);
}

#Characters .Container .Box3 .Layer1 {
    background-color: white;
    transform: translateY(100%);
}

#Characters .Container .Box4 .Layer1 {
    background-color: black;
    transform: translateY(100%);
}

#Characters .Container .Box1:hover .Layer1 {
    transform: translateY(-100%);
}

#Characters .Container .Box2:hover .Layer1 {
    transform: translateY(-100%);
}

#Characters .Container .Box3:hover .Layer1 {
    transform: translateY(-100%);
}

#Characters .Container .Box4:hover .Layer1 {
    transform: translateY(-100%);
}

#Characters .Container .Box1 .Layer2 {
    background-color: blue;
    transform: translateY(200%);
}

#Characters .Container .Box2 .Layer2 {
    background-color: yellow;
    transform: translateY(200%);
}

#Characters .Container .Box3 .Layer2 {
    background-color: #AADFEA;
    transform: translateY(200%);
}

#Characters .Container .Box4 .Layer2 {
    background-color: #B18449;
    transform: translateY(200%);
}

#Characters .Container .Box1:hover .Layer2 {
    transform: translateY(-100%);
}

#Characters .Container .Box2:hover .Layer2 {
    transform: translateY(-100%);
}

#Characters .Container .Box3:hover .Layer2 {
    transform: translateY(-100%);
}

#Characters .Container .Box4:hover .Layer2 {
    transform: translateY(-100%);
}

#Characters .Container .Box3 .Content {
    padding-top: 80px;
}

#Characters .Container .Box .Content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 100px;
    color: white;
    background-color: #111;
    transform: translateY(300%);
}

#Characters .Container .Box .Content div h2 {
    padding-bottom: 15px;
}

#Characters .Container .Box:hover .Content {
    transform: translateY(0);
}

#Characters .Container .Box .Content div {
    transition: 1.5s ease-in-out;
    transform: translateY(400%);
}

#Characters .Container .Box:hover .Content div {
    transform: translateY(0);
}

/* Characters End */

/* Games Start */

#Games {
    height: 1000px;
    background-color: #111;
    background-repeat: no-repeat;
    background-size: cover;
}

#Games .Title {
    font-size: 70px;
    color: #FDAE0C;
    cursor: default;
    font-family: Dash Horizon;
    position: relative;
    bottom: 20px;
    text-align: center;
}

#Games .Container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 100px;
    transform-style: preserve-3d;
}

#Games .Container .GameBox {
    position: relative;
    width: 500px;
    height: 350px;
    transform-style: preserve-3d;
    cursor: pointer;
}

#Games .Container .GameBox .imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#Games .Container .GameBox .Content {
    position: absolute;
    top: 50%;
    left: 50px;
    right: 50px;
    background-color: white;
    transform: translateZ(20px) scaleY(0);
    padding: 40px 25px;
    transform-origin: top;
    transition-duration: 500ms;
    transform-style: preserve-3d;
}

#Games .Container .GameBox .Content h2 {
    font-family: Dash Horizon;
    padding-bottom: 20px;
    font-size: 25px;
}

#Games .Container .GameBox .Content p {
    font-family: Roboto;
    font-size: 15px;
}

#Games .Container .GameBox:hover .Content {
    transform: translateZ(50px) scaleY(1);
}

/* Games End */