* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

@font-face {
    font-family: Roboto;
    src: url("/assets/fonts/Roboto.ttf");
}

#Header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("/assets/images/Sub-Zero\ \(Bio\).jpg");
}